In [42]:
import pandas as pd

In [43]:
oscars_df = pd.read_csv("Resources/Oscar_Awards.csv")
boxoffice_df = pd.read_csv("Resources/movie_list_all_backup.csv")
all_movies_df = pd.read_csv("Resources/Movie_DF_2.csv")

In [44]:
movies_boxoffice_df = pd.merge(all_movies_df, boxoffice_df, how='inner')
movies_boxoffice_df.head()
movies_boxoffice_df.to_csv('movies_boxoffice.csv')

In [45]:
combined_df = pd.merge(movies_boxoffice_df, oscars_df, how='left')
combined_df.head()

,Title,Actors,Box Office,Country,Director,Genre,IMDB,Language,Metacritic,Production,...,Writer,Year,Unnamed: 0,Rank,Release Year,Worldwide Box Office,Domestic Box Office,International Box Office,Awards,Nominations
0,Pulp Fiction,"Tim Roth, Amanda Plummer, Laura Lovelace, John...",NaN,USA,Quentin Tarantino,"Crime, Drama",8.9/10,"English, Spanish, French",94/100,Miramax Films,...,"Quentin Tarantino (stories), Roger Avary (stor...",1994,6,726,1994.0,"$212,928,762","$107,928,762","$105,000,000",1.0,7.0
1,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Dane ...",183277573.0,USA,Marc Webb,"Action, Adventure, Sci-Fi",6.6/10,English,53/100,Sony Pictures,...,"Alex Kurtzman (screenplay), Roberto Orci (scre...",2014,7,107,2014.0,"$708,996,336","$202,853,933","$506,142,403",NaN,NaN
2,The Shawshank Redemption,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",NaN,USA,Frank Darabont,Drama,9.3/10,English,80/100,Columbia Pictures,...,"Stephen King (short story ""Rita Hayworth and S...",1994,15,"3,935",1994.0,"$28,307,092","$28,241,469","$65,623",NaN,NaN
3,Back to the Future,"Michael J. Fox, Christopher Lloyd, Lea Thompso...",2925880.0,USA,Robert Zemeckis,"Adventure, Comedy, Sci-Fi",8.5/10,English,87/100,Universal Pictures,...,"Robert Zemeckis, Bob Gale",1985,1,301,1985.0,"$385,524,784","$212,259,762","$173,265,022",1.0,4.0
4,The Breakfast Club,"Emilio Estevez, Paul Gleason, Anthony Michael ...",NaN,USA,John Hughes,"Comedy, Drama",7.9/10,English,62/100,Universal Pictures,...,John Hughes,1985,37,"2,857",1985.0,"$45,875,171","$45,875,171",$0,NaN,NaN

In [46]:
combined_df.to_csv('combined.csv')

In [57]:
type.df

AttributeError: type object 'type' has no attribute 'df'

In [53]:
combined_df['Worldwide Box Office'] = df['Worldwide Box Office'].map(lambda x: re.sub(r'\', '', x))
combined_df.head()

SyntaxError: invalid syntax (<ipython-input-53-bafeed1705e9>, line 1)

In [12]:
combined_df.isna().sum()

Title                        202
Actors                      6471
Box Office                  8596
Country                     6471
Director                    6499
Genre                       6471
IMDB                        6471
Language                    6473
Metacritic                  7355
Production                  6571
Rated                       6477
Released                    6475
Rotten Tomatoes             6559
Runtime                     6471
Type                        6471
Writer                      6479
Year                        6471
Unnamed: 0                     0
Rank                         202
Release Year                 202
Worldwide Box Office         202
Domestic Box Office          202
International Box Office     202
Awards                      9679
Nominations                 9679
dtype: int64

In [ ]:
from sqlalchemy import create_engine


engine = create_engine('sqlite:///movies_DB.sqlite', echo=False)


movie_df.to_sql('movie_info', con=engine)
engine.execute("SELECT * FROM movie_info").fetchall()

In [2]:
df = ("Armenian	Polish	Maori	Quenya	Mohawk	Hungarian	Czech	German	Bengali	Central American Indian languages	Serbo-Croatian	Latin	Filipino	Welsh	Mandarin	North American Indian	Norwegian	Pushto	Khmer	Brazilian Sign Language	Klingon	Chechen	Apache languages	Danish	Romany	Syriac	Italian	Persian	Aboriginal	Swedish	Japanese	Croatian	Nyanja	Dari	Vietnamese	Malay	Hindi	Pawnee	Afrikaans	Sicilian	French	Sign Languages	Bulgarian	Finnish	Sioux	Portuguese	Old English	Assyrian Neo-Aramaic	Serbian	Chinese	Urdu	Somali	Norse	British Sign Language	English	Gujarati	Russian	Burmese	Lao	Hawaiian	Southern Sotho	Old	Tagalog	Georgian	Maya	Cantonese	Tibetan	Amharic	Tok Pisin	Albanian	Shanghainese	Icelandic	Belarusian	Romanian	Dutch	American Sign Language	Greek	Sindarin	Kurdish	Egyptian (Ancient)	Swahili	Punjabi	Turkish	Greenlandic	Sanskrit	Hmong	Esperanto	Arabic	Sinhalese	Korean	Xhosa	Aramaic	Mende	Swiss German	Thai	Scottish Gaelic	Hebrew	Ukrainian	Estonian	Tamil	Ungwatsi	Luxembourgish	Yiddish	Slovak	Indonesian	Spanish	Irish	Zulu	Navajo	Inuktitut	Bosnian")

In [7]:
df.replace('	', '","')

'Armenian","Polish","Maori","Quenya","Mohawk","Hungarian","Czech","German","Bengali","Central American Indian languages","Serbo-Croatian","Latin","Filipino","Welsh","Mandarin","North American Indian","Norwegian","Pushto","Khmer","Brazilian Sign Language","Klingon","Chechen","Apache languages","Danish","Romany","Syriac","Italian","Persian","Aboriginal","Swedish","Japanese","Croatian","Nyanja","Dari","Vietnamese","Malay","Hindi","Pawnee","Afrikaans","Sicilian","French","Sign Languages","Bulgarian","Finnish","Sioux","Portuguese","Old English","Assyrian Neo-Aramaic","Serbian","Chinese","Urdu","Somali","Norse","British Sign Language","English","Gujarati","Russian","Burmese","Lao","Hawaiian","Southern Sotho","Old","Tagalog","Georgian","Maya","Cantonese","Tibetan","Amharic","Tok Pisin","Albanian","Shanghainese","Icelandic","Belarusian","Romanian","Dutch","American Sign Language","Greek","Sindarin","Kurdish","Egyptian (Ancient)","Swahili","Punjabi","Turkish","Greenlandic","Sanskrit","Hmong","Esperanto","Arabic","Sinhalese","Korean","Xhosa","Aramaic","Mende","Swiss German","Thai","Scottish Gaelic","Hebrew","Ukrainian","Estonian","Tamil","Ungwatsi","Luxembourgish","Yiddish","Slovak","Indonesian","Spanish","Irish","Zulu","Navajo","Inuktitut","Bosnian'