In [47]:
import pandas as pd

In [48]:
oscars_df = pd.read_csv("Resources/Oscar_Awards.csv")
boxoffice_df = pd.read_csv("Resources/movie_list_all_backup.csv")
all_movies = pd.read_csv("Resources/Movies_DF.csv")

In [50]:
oscar_boxoffice_df = pd.merge(oscars_df, boxoffice_df, how='right')
oscar_boxoffice_df.head()

,Title,Year,Awards,Nominations,Unnamed: 0,Rank,Release Year,Worldwide Box Office,Domestic Box Office,International Box Office
0,Black Panther,2018.0,3.0,7.0,10,10,2018.0,"$1,348,258,224","$700,059,566","$648,198,658"
1,BlacKkKlansman,2018.0,1.0,6.0,61,"1,681",2018.0,"$92,616,701","$49,275,340","$43,341,361"
2,Bohemian Rhapsody,2018.0,4.0,5.0,34,54,2018.0,"$900,910,760","$216,303,339","$684,607,421"
3,First Man,2018.0,1.0,4.0,48,"1,468",2018.0,"$105,203,825","$44,936,545","$60,267,280"
4,Free Solo,2018.0,1.0,1.0,60,"4,580",2018.0,"$21,786,658","$17,539,736","$4,246,922"

In [ ]:
combined_df = pd.merge(oscar_boxoffice_df)

In [46]:
combined_df.to_csv('combined.csv')

In [19]:
from sqlalchemy import create_engine


engine = create_engine('sqlite:///movies_DB.sqlite', echo=False)


movie_df.to_sql('movie_info', con=engine)
engine.execute("SELECT * FROM movie_info").fetchall()

NameError: name 'movie_df' is not defined